@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  padding: 10px;
  font-family: sans-serif;
}

.form-group {
  background-color: grey;
}
.table {
  background-color: indigo;
  color: white;
}
.filterInstructor {
  position: bottom;
  background-color: grey;
}
.filterStudent {
  font-size: 10px;

}